.text-decoration-none {
  text-decoration: none;
}

/*
id = cpf; 
class = grupo;

*/

body {
  background: #121212;
  color: rgb(156, 156, 156);
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

h2 {
  text-align: center;
  margin-top: 5%;
}

p {
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 5%;
}

nav {
  display: inline;
}

.spacing {
  padding: 5%;
}

.avatar {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 10rem;
  /*como eu quero que a minha animação do hover
  ao tirar o mouse, volte de forma gradual
  eu preciso setar o formato padrão que eu queira
  pra transicionar gradualmente de volta*/
  transition-duration: 1s;
  transform: scale3d(1, 1, 1);
  border-style: solid;
  border-width: 1px;
  border-bottom-style: none;
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.0);
}

.avatar:hover {
  transition-duration: 1s;
  transform: scale3d(1.2, 1.2, 1.3);
  transform-style: preserve-3d;
  background: rgba(255, 255, 255, 0.3);
  border-style: none;
  
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.3);
}

/*:first-of-type significa literalmente que vai pegar a primeira instancia deste elemento */
ul:first-of-type {
  text-align: center;
  list-style: inside;
  font-size: 30px;
}

/*
  onde peguei o botão
  https://www.w3schools.com/howto/howto_css_dropdown.asp
*/
/* Dropdown Button */

.dropbtn {
  background-color: rgb(156, 156, 156);
  color: rgb(31, 30, 30);
  font-weight: 600;
  padding: 16px;
  padding-right: ;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #525252;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.3);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #d66101;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #d66101;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.3);
}


.avatar::before {
  transition-duration: 2s;
  transform: scale3d(1, 1, 1);
}
