@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Tokyo+Zoo&display=swap");

body {
  font-family: "Bebas Neue", cursive;

  text-align: center;
  background: linear-gradient(-45deg, #7209b7, #560bad, #480ca8, #3a0ca3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*
https://1stwebdesigner.com/15-css-background-effects/
para fazer esse efeito, eu utilizei o 
Gradient Background Animation, fui modificando e aprendendo como ele funciona, resumidamente, voce tem um background de cor gradiente, onde voce aumenta o tamanho dele para ser maior do que a area que voce ve, a ideia é que a sua visão seja como a visão de uma lupa, ai voce usa o animation para se mover pelo background, e atravez dos @keyframes eu consigo decidir onde ue quero que ele esteja em cada percentual da animaçã.
*/

.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
  padding: 20px;
  font-family: "Bebas Neue", cursive;
}

.dud {
  color: #757575;
}

#foto-pessoal {
  width: 200px;
  border-radius: 50%;
  margin-top: 10%;
}

#git {
  width: 50px;
  position: absolute;
  top: 10px;
  right: 0px;
}

#linkdin {
  width: 40px;
  position: absolute;
  top: 60px;
  right: 5px;
}

.personal-wrapper {
  margin-top: 50px;
}
.personal-foreground {
  backdrop-filter: blur(10px) grayscale(50%);
  max-width: 350px;
  min-width: 350px;
  min-height: 350px;
  margin: auto;
}

.sobre-wrapper {
  width: 350px;
  height: 200px;
  align-content: center;
  margin: auto;
  margin-top: 100px;
}

.sobre-texto,
.sobre-texto p {
  width: 250px;
  float: left;
  clear: left;
  font-size: 35px;
  margin: 0px;
  color: #4361ee;
  text-shadow: -5px 5px #000000;
}

.sobre-barra {
  width: 10px;
  height: 100%;
  background: #4361ee;
  float: right;
  clear: right;
  box-shadow: -5px 5px #3f37c9, -10px 10px #3a0ca3, -15px 15px #480ca8;
}

#barra-divisao {
  background: #b5179e;
  height: 20px;
  width: 200px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 5px -5px #7209b7, 10px -10px #560bad, 15px -15px #480ca8;
}

.wrapper-mudar {
  margin: auto;
  margin-top: 50px;
  width: 350px;
  color: #b5179e;
  align-content: center;
}

.wrapper-mudar p {
  font-size: 30px;
  text-shadow: 5px -5px #3a0ca3;
}

.wrapper-skills {
  margin: auto;
  height: 400px;
  width: 400px;
}

.wrapper-skills p {
  font-size: 50px;
  margin: auto;
  margin-top: 100px;
}

.skills-arvore {
  height: 30px;
  width: 100px;
  background: #7209b7;
  margin: auto;
  margin-top: 70px;
  box-shadow: 100px 100px #000000, -100px 100px #000000;
}
html {
  scroll-behavior: smooth;
}

.aaa {
  margin-top: 1000px;
}

.flecha {
  position: relative;
  margin: 100px auto;
  background: #fff;
  height: 50px;
  width: 2px;
  animation: flecha 5s ease infinite;
}

@keyframes flecha {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.flecha::after {
  content: "";
  position: absolute;
  left: -12px;
  bottom: 5px;
  z-index: 11;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(225deg);
}
